@charset "UTF-8";

/* 含有阴影 */
.has-shadow {
  box-shadow: 3px 5px 7px 3px rgba(29, 29, 31, 0.09); 
}
/* 容器 */
.container {
		width: 85%;
		margin: 0 auto;
		box-sizing: border-box;
	}
/* 网格 */
.is-flex-center{
	align-items: center;
	justify-content: center
}
.is-flex {
  display: flex; 
}
/* 标签重置 */
a {
  text-decoration: none;
}

/* 页面高度 */
.full-height {
  height: calc(100vh - 44px); 
}
/* input框 */
.form-input{
		margin: 5% 0;
}
.is-input {
		height: 88rpx;
		width: 100%;
		line-height: 88rpx;
		color: #353535;
		font-size: 32rpx;
		box-sizing: border-box;
		appearance: none;
		border: 2rpx solid #e5e5e5;
		box-shadow: none;
		border-radius: 44rpx;
		outline: 0;
		display: block;
		padding-left: 30rpx;
		margin: 0;
		font-family: inherit;
		background: #fff;
		resize: none;
	}
